<ion-content>
  <ion-img
    src="assets/customer-list-customer-image.png"
    id="user-image"
  ></ion-img>
  <ion-card-subtitle id="username">{{ customerName }}</ion-card-subtitle>

  <div id="next-workout">
    <ion-card class="workout" (click)="nextWorkoutClicker()">
      <ion-card-subtitle class="workout-list-title"
        >Próximo Treino</ion-card-subtitle>
      <ion-card class="workout-node">
        <ion-card-subtitle class="workout-node-name">aqui</ion-card-subtitle>
      </ion-card>
    </ion-card>
  </div>

  <div id="last-workouts"
  [ngClass]="{ 'noWorkoutsMargin': noPreviousWorkoutsFound, 'previousWorkoutsMargin': !noPreviousWorkoutsFound }">
    <ion-card class="workout">
      <ion-card-subtitle class="workout-list-title"
        >Últimos treinos realizados</ion-card-subtitle
      >

      <div
        *ngIf="checkLastWorkoutsEmpty(); then noWorkouts; else previousWorkouts"
      ></div>

      <ng-template #noWorkouts>
        <ion-card-subtitle id="no-workout-found">Nenhum treino encontrado</ion-card-subtitle>
      </ng-template>

      <ng-template #previousWorkouts>
        <div *ngFor="let workout of lastWorkout">
          <ion-card class="workout-node">
            <ion-card-subtitle class="workout-node-name">{{
              workout
            }}</ion-card-subtitle>
          </ion-card>
        </div>
      </ng-template>
    </ion-card>
  </div>

  <div class="row-buttons">
    <ion-card
      class="text-button"
      (click)="goTo(this.customerId, 'blueprint')"
    >
      <ion-card-content class="text-button-text">
        Programa de treino
      </ion-card-content>
    </ion-card>
    <button
      ion-button
      fill="clear"
      class="icon-button"
      (click)="goTo(this.customerId, 'report')"
    >
      <ion-img src="assets/fita-metrica.png" class="icon"></ion-img>
    </button>
    <button
      ion-button
      fill="clear"
      class="icon-button"
      (click)="goTo(this.customerId, 'info')"
    >
      <ion-img src="assets/info.png" class="icon"></ion-img>
    </button>
  </div>
  <div class="row-buttons">
    <ion-card
      class="text-button"
      (click)="goTo(this.customerId, 'schedule')"
    >
      <ion-card-content class="text-button-text"> Horário </ion-card-content>
    </ion-card>
    <button
      ion-button
      fill="clear"
      class="icon-button"
      (click)="showDeleteCustomer()"
    >
      <ion-img src="assets/lata-de-lixo.png" class="icon"></ion-img>
    </button>
    <button
      ion-button
      fill="clear"
      class="icon-button"
      (click)="goTo(this.customerId, 'edit')"
    >
      <ion-img src="assets/lapis.png" class="icon" id="pencil"></ion-img>
    </button>
  </div>



 <!--caixas de seleção e alerta-->
  <!--seleção do(s) próximo(s) treino(s)-->

    <!--múltiplos treinos encontrados no mesmo dia-->
    <ion-alert
    [isOpen]="nextWorkoutButtonClicked && multipleWorkoutMode"
    header="Próximo treino"
    [buttons]=""
    (didDismiss)="closeNextWorkoutSelection()"
  ></ion-alert>

  <!--selecionar referências-->
    <ion-alert
    [isOpen]="nextWorkoutButtonClicked && referenceChoiceTrigger"
    header="Usar o último treino como referência?"
    [buttons]="nextWorkoutButtons"
    (didDismiss)="closeNextWorkoutSelection()"
  ></ion-alert>

</ion-content>
