ion-content {
  --background: linear-gradient(#000000, #3533CD);
}

ion-title {
  margin-top: 10%;
  margin-bottom:5%;
}

ion-card {
  width: 60%;
  background: transparent;
  border: 2px solid white;
  border-radius: 26px;
  padding: 10px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

button {
  display: flex;
  background: transparent;
  border: 2px solid white;
  border-radius: 26px;
  width: 90%;
  padding: 12px;
  font-size: 120%;
  font-weight: bold;
  color: white;
  justify-content: center;
  margin: 0 auto;
}

div{
  width: 80%;
  margin:auto;
}

ion-input {
  background: transparent;
  color: white;
  font-size: 16px;
  margin:auto;
}

ion-label{
  align-items: center;
}

ion-item{
  align-items:center;
}

ion-radio-group{
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-input[type="date"] {
  width: 40%;
  border: white;
  border-width: 2px;
}

ion-radio-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

ion-item {
  --background: transparent;
  border: none;
}

ion-label {
  font-size: 16px;
  color: white;
}

