<ion-content [fullscreen]="true" class="ion-padding">

  <ion-menu side = "end" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="menuBotao">
      <ion-button id="cliente" (click)="goToCustomerMenu()" fill="outline"  expand="block">Clientes</ion-button>
    </div>
    <div class="menuBotao">
      <ion-button id="treino" (click)="goToWorkoutMenu()" fill="outline"  expand="block">Treino</ion-button>
    </div>
    <div class="menuBotao">
      <ion-button id="payment" (click)="goToFinancesMenu()" fill="outline" expand="block">Financeiro</ion-button>
    </div>
    <div class="menuBotao">
      <ion-button id="schedule" (click)="goToScheduleMenu()" fill="outline" expand="block">Agenda</ion-button>
    </div>

    </ion-content>
  </ion-menu>

  <div class="paginaPrincipal" id="main-content">
    <ion-header>
      <ion-toolbar id = "paginaPrincipalTitleBackground">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title id = "title">Olá, XXXXXX</ion-title>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="content" *ngFor="let schedule of schedules">
    <app-shared-schedule-nodes
      [customerName]="schedule.customerName"
      [scheduleHour]="schedule.scheduleHour"
      [workoutName]="schedule.workoutName"
    ></app-shared-schedule-nodes>
  </div>

</ion-content>



