ion-content {
  --background: linear-gradient(#000000, #3533CD);

  .programHeader {
    display: flex;
    margin-right: 3%;
  }

  .workoutContainer {
    margin-bottom: 3%;

    ion-card {
      border-radius: 26px;
      border-width: 2px;
      border-style: solid;
      border-color: white !important;
      background-color: transparent;
      color: white;
      padding: 3%;

      #workoutHeader {
        display: flex;
        flex-direction: row;

        ion-label.workoutTitle {
          margin-right: 65%;
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 10px;
          text-align: center;
          margin-top: 2%;
        }

        ion-img {
          width: 7%;
          height: auto;
          margin-bottom: 3%;

          &.lapis {
            width: 7%;
            height: auto;
          }

          &.lata {
            width: 7%;
            height: auto;
          }
        }
      }

      .headerRow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        text-align: center;
        font-weight: bold;
        margin-bottom: 10px;

        ion-label.columnHeader {
          font-size: 120%;
          margin-bottom: 5%;
        }
      }

      .exerciseRow {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        text-align: center;
        margin-bottom: 3%;

        ion-label {
          font-size: 120%;
        }
      }
    }
  }

  #mais {
    width: 7%;
    height: auto;
  }

  ion-title {
    font-size: 150%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
  }
}
