<ion-content>
  <ion-title>{{ nomeDoPrograma }}</ion-title>
  <div *ngFor="let workout of workouts" class="workoutContainer">
    <ion-label class="workoutTitle">{{ workout.workoutName }}</ion-label>
    <div class="headerRow">
      <ion-label class="columnHeader">Exercício</ion-label>
      <ion-label class="columnHeader">Séries</ion-label>
      <ion-label class="columnHeader">Repetições</ion-label>
    </div>
    <div *ngFor="let exercise of workout.exercises" class="exerciseRow">
      <ion-label>{{ exercise.name }}</ion-label>
      <ion-label>{{ exercise.sets }}</ion-label>
      <ion-label>{{ exercise.reps }}</ion-label>
    </div>
  </div>
</ion-content>
