<ion-content [fullscreen]="true" class="ion-padding">

  <div class="container">
    <img id="dumbell" src="assets/dumbell.png" alt="Dumbell" />
    <div id="coachpal" class="ion-text-center">CoachPal</div>
  </div>

  <div id="title" class="ion-text-center">
    Bem vindo de volta!
  </div>

  <form [formGroup]="form" (ngSubmit)="postLogin()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <div class="container3">
      <ion-button id="login" type="submit" expand="block" fill="clear">Entrar</ion-button>
    </div>
  </form>
</ion-content>
