<ion-card>
  <ion-card-header>
    <div>
      <ion-img src="assets/lata-de-lixo.png" id="trash"></ion-img>
    </div>
    <div class="line" id="customer">
      <ion-img src="assets/user.png"></ion-img>
      <ion-card-subtitle>{{customerName}}</ion-card-subtitle>
    </div>
    <div class="line" id="workout">
      <ion-img src="assets/dumbellClient.png"></ion-img>
      <ion-card-subtitle>{{workoutName}}</ion-card-subtitle>
    </div>
    <div class="line" id="schedule">
      <ion-img src="assets/clock.png"></ion-img>
      <ion-card-subtitle>{{scheduleHour}}</ion-card-subtitle>
    </div>
  </ion-card-header>
</ion-card>
