ion-card {
  background: transparent !important;
  border: 2px solid white !important;
  border-radius: 26px !important;
  box-shadow: none !important;
  padding:2%
}

ion-card-subtitle {
  color: white !important;
  font-family: Arial, sans-serif !important;
  font-size: 150% !important;
  margin-left: 4%;
}

.line{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#customer, #workout{
  margin-bottom: 3%;
}

ion-img {
  width: 8%
}

