ion-card {
  background: transparent !important;
  border: 2px solid white !important;
  border-radius: 26px !important;
  box-shadow: none !important;
  padding-left:2%;
  padding-right:2%;
  padding-bottom:2%
}

ion-card-subtitle {
  color: white !important;
  font-family: Arial, sans-serif !important;
  font-size: 150% !important;
  margin-left: 4%;
}

.line{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#customer, #workout{
  margin-bottom: 3%;
}

#trash{
  margin-left: 95%;
  //nao sei se pode fazer essa gambiarra mas foi a unica coisa q funcionou 0_o
  margin-bottom: -10%;
}

ion-img {
  width: 8%
}

