<ion-content>
  <ion-title>
    Financeiro
  </ion-title>
  <div id="revenueSlot">
    <ion-card-subtitle id="revenueTitle">
      Faturamento estimado do mês
    </ion-card-subtitle>
    <ion-card id="revenueValue">
      <ion-card-subtitle id="revenue">
        R$ {{monthlyEstimatedRevenue}}
      </ion-card-subtitle>
    </ion-card>
  </div>
  <div id="buttons">
    <ion-button (click)="goToEditPayments()">
      Editar pagamentos
    </ion-button>
    <ion-button (click)="goToClientList()">
      Lista de clientes
    </ion-button>
  </div>
</ion-content>
