ion-content {
  --background: linear-gradient(#000000, #3533CD);
}

ion-title {
  margin-bottom: 2%;
  font-size: 170%;
  font-family: "arial", sans-serif;
  font-weight: bold;
}

ion-list{
  background: transparent;
}

ion-searchbar{
  --background: transparent;
  border: 2px solid white;
  border-radius: 26px;
  color: white;
  margin-top: 2%;
  margin-bottom: 4%;
}


ion-item {
  --background: transparent;
  border: 2px solid white;
  border-radius: 26px;
  box-shadow: none;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.customer-label {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 140%;
  margin-left: 4%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10%;
  margin-bottom: 10%;
}

#header{
  display: flex;
  margin-right: 2%;
}

.line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-img {
  width: 20%;
  min-width: 20%;
}

#transparent-button {
  background: transparent;  /* Makes the button background transparent */
  border: none;             /* Removes the border */
  padding: 0;               /* Removes padding around the button */
  display: flex;
  align-items: center;
  justify-content: center;
}

#plus {
  width: 40px;             /* Set the width of the image */
  height: 40px;            /* Set the height of the image */
  object-fit: contain;     /* Maintains aspect ratio of the image */
}
