<ion-content [fullscreen]="true" class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="postCustomer()">

    <ion-title>Informações pessoais</ion-title>

    <div id="personalInfo">
      <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input formControlName="name" placeholder="Digite seu nome"></ion-input>
      </ion-item>

      <div id="cpfBirthday">
        <ion-item id="cpf">
          <ion-label position="floating">CPF</ion-label>
          <ion-input formControlName="cpf" placeholder="Digite seu CPF"></ion-input>
        </ion-item>

        <ion-item id="birthday">
          <ion-label position="floating">Data de Nascimento</ion-label>
          <ion-input formControlName="birth" type="date"></ion-input>
        </ion-item>
      </div>
    </div>

    <ion-title>Endereço</ion-title>

    <div id="adress">

      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input formControlName="city" placeholder="Digite a cidade"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bairro</ion-label>
        <ion-input formControlName="neighborhood" placeholder="Digite o bairro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Rua</ion-label>
        <ion-input formControlName="street" placeholder="Digite sua rua"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Número</ion-label>
        <ion-input formControlName="number" placeholder="Digite o número"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Complemento</ion-label>
        <ion-input formControlName="extras" placeholder="Digite o complemento"></ion-input>
      </ion-item>
    </div>

    <ion-title>Faturamento</ion-title>
    <div id="finances">
      <div id="faturamentoCheckbox">
        <ion-radio-group formControlName="typeOfPayment">
          <ion-item>
            <ion-label>Mensal</ion-label>
            <ion-radio slot="start" value="Mensal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Semanal</ion-label>
            <ion-radio slot="start" value="Semanal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Único</ion-label>
            <ion-radio slot="start" value="Único"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
      <div id="price">
        <ion-item>
          <ion-label position="floating">Valor</ion-label>
          <ion-input formControlName="price" type="number" placeholder="Digite o valor"></ion-input>
        </ion-item>
      </div>
    </div>

    <div class="container">
      <ion-button id="register" type="submit" expand="block" fill="clear">Enviar</ion-button>
    </div>
  </form>

</ion-content>
