ion-content {
  --background: linear-gradient(#000000, #3533CD);
}

ion-item {
  --background: transparent;
  --border-radius: 24px;
  --border-color: white;
  --border-width: 2px;
  --box-shadow: none;
  margin-bottom: 3%;
}

ion-label {
  color: white;
  white-space: normal;
  text-overflow: unset;
  overflow: visible;
}

ion-input {
  margin-top: 2%;
  --background: transparent;
  --border-radius: 24px;
  --border-color: white;
  --border-width: 2px;
  --box-shadow: none;
  color: white;
}

ion-radio {
  margin-left: 8px;
}

#faturamentoCheckbox {
  margin-left: 4%;
  margin-right:8%
}

#finances {
  display: flex;
  margin-bottom: 5%;
  width: 100%;
}

ion-checkbox {
  --background: transparent;
  --border-color: white;
  --border-width: 2px;
  --border-radius: 4px;
  font-family: Arial, sans-serif;
  color: white;
}

#birthday {
  flex: 3;
}

#cpf {
  flex: 2;
}

ion-input::part(input) {
  color: white;
}

ion-title {
  font-size: 130%;
  margin-bottom: 4%;
}

#register {
  margin-top: 5%;
  border: 2px solid white;
  border-radius: 24px;
  background-color: transparent;
  padding: 2% 5%;
  font-size: 180%;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  text-align: center;
  text-transform: none;
}

#personalInfo, #adress {
  margin-bottom: 10%;
}

#register:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: white;
}

#numberAddInfo, #cpfBirthday {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
