
ion-card {
  &.payed{
    border: 2px solid green !important;
  }
  &.not-payed{
    border: 2px solid red !important
  }

  background: transparent !important;
  border-radius: 26px !important;
  box-shadow: none !important;
  padding: 2%;
}

ion-card-subtitle {
  color: white !important;
  font-family: Arial, sans-serif !important;
  font-size: 150% !important;
  margin-left: 4%;
}
