
ion-card {
  &.payed{
    border: 2px solid green !important;
  }
  &.not-payed{
    border: 2px solid white!important;
  }
  &.overdue{
    border: 2px solid red !important;
  }

  background: transparent ;
  border-radius: 26px;
  box-shadow: none;
  padding: 2%;
}

ion-card-subtitle {
  color: white ;
  font-family: Arial, sans-serif;
  font-size: 150%;
  margin-left: 4%;
}

ion-button{
  --color: white;
  --font-family: Arial, Arial, Helvetica, sans-serif;
  --background: transparent;
  --border-style: solid;
  --border-width: 2px;
  --border-color:white;
  --border-radius: 26px;
  display: flex;
  margin-left: 14%;
  margin-right: 14%;
}
