
ion-card {
  &.payed{
    border: 2px solid green !important;
  }
  &.not-payed{
    border: 2px solid white!important;
  }
  &.overdue{
    border: 2px solid red !important;
  }

  background: transparent ;
  border-radius: 26px ;
  box-shadow: none;
  padding: 2%;
}

ion-card-subtitle {
  color: white ;
  font-family: Arial, sans-serif;
  font-size: 150%;
  margin-left: 4%;
}
