<ion-content>
  <ion-menu content-id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Filtros financeiros</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-title id="valores"> Mostrar apenas os valores: </ion-title>
      <ion-list>
        <!--tive que trocar o ionradio group por checkboxes pro unselect funcionar-->
        <ion-item>
          <ion-label>Pagos</ion-label>
          <ion-checkbox slot="start" [checked]="balanceRegularity.payed" (ionChange)="checkBalanceRegularity('payed', $event.detail.checked)"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Vencidos</ion-label>
          <ion-checkbox slot="start" [checked]="balanceRegularity.notPayed" (ionChange)="checkBalanceRegularity('notPayed', $event.detail.checked)"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Pendentes</ion-label>
          <ion-checkbox slot="start" [checked]="balanceRegularity.toBePayed" (ionChange)="checkBalanceRegularity('toBePayed', $event.detail.checked)"></ion-checkbox>
        </ion-item>
      </ion-list>

      <ion-title id="ordenar">Ordenar por</ion-title>
      <ion-list>
        <ion-item>
          <ion-label>Mais antigos</ion-label>
          <ion-checkbox slot="start" [checked]="sortBy.oldest" (ionChange)="checkSortBy('oldest', $event.detail.checked)"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Mais recentes</ion-label>
          <ion-checkbox slot="start" [checked]="sortBy.newest" (ionChange)="checkSortBy('newest', $event.detail.checked)"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-content id="main-content">
    <div *ngFor="let payment of payments">
      <app-payment-nodes
        [customerName]="payment.customerName"
        [dueDate]="dueDateConverter(payment.dueDate)"
        [price]="payment.price"
        [isPayed]="checkStatus(payment)"
        (confirmPaymentClicked)="confirmPayment(payment.paymentId)">
      </app-payment-nodes>
    </div>
    <ion-menu-toggle>
      <ion-button id="filterButton">Filtros de pesquisa</ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-content>
