<ion-content>
  <div id = workoutHeader>
    <ion-title>
      {{workout.name}}
    </ion-title>
  </div>
  <div *ngFor="let exercise of workout.exerciseDtoList">
    <div id = exerciseHeader>

      <ion-title>Exercício {{exercise.index}}/{{workout.exerciseDtoList.length}}: {{exercise.name}}</ion-title>
    </div>
    <div id = exerciseParameters>
      <ion-label>Série</ion-label>
      <ion-label>Peso</ion-label>
      <ion-label>Repetições</ion-label>
    </div>
    <div *ngFor="let set of exercise.setDtoList" id = set>
      <ion-title>{{set.index}}</ion-title>
      <ion-input placeholder={{set.weight}}></ion-input>
      <ion-input placeholder={{set.repetitions}}></ion-input>
    </div>
  </div>

</ion-content>
