
  <ion-content [fullscreen]="true" class="ion-padding">

    <div class="container">
      <img id="dumbell" src="assets/dumbell.png" alt="Dumbell" />
      <div id="coachpal" class="ion-text-center">CoachPal</div>
    </div>

    <div id="title" class="ion-text-center">
      O assistente perfeito para treinadores de alta performance
    </div>
    <div id="description" class="ion-text-center">
      Com o CoachPal você aumenta sua produtividade como treinador de maneira intuitiva
    </div>

    <div class="container2">
      <img id="weightlifter" src="assets/weightlifter.png" alt="Weightlifter" />
    </div>

    <div class="container3">
      <ion-button id="login" (click)="goToLogin() "expand="block" fill="clear">Login</ion-button>
      <ion-button id="register" (click)="goToRegister()" expand="block" fill="clear">Registre-se</ion-button>
    </div>

  </ion-content>

